snippet ir
import * as React from 'react'
endsnippet

snippet rfun "React File"
// @flow
import * as React from 'react'

type Props = {}

export default function $1(props: Props) {
	return (
		<div />
	)
}
endsnippet
